# API 키를 비롯한 관련 설정 파일들이 위치한 디렉토리
config/

# 수집된 데이터 파일들이 저장되는 디렉토리
data/

# 프로젝트 관련 문서 파일들이 포함된 디렉토리
docs/

# 파이썬 인터프리터가 생성한 임시 바이트 코드 파일이 저장되는 디렉토리
__pycache__/

# 파이썬 pip 설치 파일
get-pip.py

goorm.manifest